* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.secflexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#divLogo > img {
  width: 100px;
  height: 60px;
  margin-top: 1rem;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
#divPictior:first-child {
  color: white;
  font-size: 60pt;
  font-weight: bold;
  display: flex;
  text-align: left;
  position: relative;
  margin-bottom: auto;
  left: 70px;
}
#img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: 0.5rem;
  margin-top: 240px;
}
.text {
  margin-top: 16rem;
  font-size: small;
  color: gray;
}
#menu {
  display: flex;
}
ul {
  position: relative;
  display: flex;
  list-style: none;
  padding: 20px 20px;
}
ul li {
  padding: 10px 20px;
  font-size: small;
  text-transform: uppercase;
}
ul a {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}
